parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Controllers\\Admin\:\:clubs\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Controllers/Admin.php

		-
			message: '#^Method App\\Controllers\\Admin\:\:createClub\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Controllers/Admin.php

		-
			message: '#^Method App\\Controllers\\Admin\:\:createKlasse\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Controllers/Admin.php

		-
			message: '#^Method App\\Controllers\\Admin\:\:createSchueler\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Controllers/Admin.php

		-
			message: '#^Method App\\Controllers\\Admin\:\:deleteClub\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Controllers/Admin.php

		-
			message: '#^Method App\\Controllers\\Admin\:\:deleteClub\(\) has parameter \$id with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Controllers/Admin.php

		-
			message: '#^Method App\\Controllers\\Admin\:\:deleteKlasse\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Controllers/Admin.php

		-
			message: '#^Method App\\Controllers\\Admin\:\:deleteKlasse\(\) has parameter \$id with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Controllers/Admin.php

		-
			message: '#^Method App\\Controllers\\Admin\:\:deleteSchueler\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Controllers/Admin.php

		-
			message: '#^Method App\\Controllers\\Admin\:\:index\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Controllers/Admin.php

		-
			message: '#^Method App\\Controllers\\Admin\:\:klassen\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Controllers/Admin.php

		-
			message: '#^Method App\\Controllers\\Admin\:\:showKlasse\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Controllers/Admin.php

		-
			message: '#^Method App\\Controllers\\Admin\:\:showKlasse\(\) has parameter \$id with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Controllers/Admin.php

		-
			message: '#^Property App\\Controllers\\Admin\:\:\$clubModel has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Controllers/Admin.php

		-
			message: '#^Property App\\Controllers\\Admin\:\:\$klasseModel has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Controllers/Admin.php

		-
			message: '#^Property App\\Controllers\\Admin\:\:\$offerModel has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Controllers/Admin.php

		-
			message: '#^Property App\\Controllers\\Admin\:\:\$schuelerModel has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Controllers/Admin.php

		-
			message: '#^Method App\\Controllers\\Allocation\:\:export\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Controllers/Allocation.php

		-
			message: '#^Method App\\Controllers\\Allocation\:\:export\(\) has parameter \$format with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Controllers/Allocation.php

		-
			message: '#^Method App\\Controllers\\Allocation\:\:exportExcel\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Controllers/Allocation.php

		-
			message: '#^Method App\\Controllers\\Allocation\:\:exportExcel\(\) has parameter \$run with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Controllers/Allocation.php

		-
			message: '#^Method App\\Controllers\\Allocation\:\:exportPDF\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Controllers/Allocation.php

		-
			message: '#^Method App\\Controllers\\Allocation\:\:exportPDF\(\) has parameter \$run with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Controllers/Allocation.php

		-
			message: '#^Method App\\Controllers\\Allocation\:\:index\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Controllers/Allocation.php

		-
			message: '#^Method App\\Controllers\\Allocation\:\:performSwap\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Controllers/Allocation.php

		-
			message: '#^Method App\\Controllers\\Allocation\:\:results\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Controllers/Allocation.php

		-
			message: '#^Method App\\Controllers\\Allocation\:\:run\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Controllers/Allocation.php

		-
			message: '#^Method App\\Controllers\\Allocation\:\:statistics\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Controllers/Allocation.php

		-
			message: '#^Method App\\Controllers\\Allocation\:\:swaps\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Controllers/Allocation.php

		-
			message: '#^Property App\\Controllers\\Allocation\:\:\$allocationModel has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Controllers/Allocation.php

		-
			message: '#^Property App\\Controllers\\Allocation\:\:\$allocationService has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Controllers/Allocation.php

		-
			message: '#^Property App\\Controllers\\Allocation\:\:\$choiceModel has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Controllers/Allocation.php

		-
			message: '#^Property App\\Controllers\\Allocation\:\:\$clubModel has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Controllers/Allocation.php

		-
			message: '#^Property App\\Controllers\\Allocation\:\:\$klasseModel has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Controllers/Allocation.php

		-
			message: '#^Property App\\Controllers\\Allocation\:\:\$offerModel has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Controllers/Allocation.php

		-
			message: '#^Property App\\Controllers\\Allocation\:\:\$schuelerModel has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Controllers/Allocation.php

		-
			message: '#^Method App\\Controllers\\Klassen\:\:checkCompletion\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Controllers/Klassen.php

		-
			message: '#^Method App\\Controllers\\Klassen\:\:checkCompletion\(\) has parameter \$klasseId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Controllers/Klassen.php

		-
			message: '#^Method App\\Controllers\\Klassen\:\:saveChoices\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Controllers/Klassen.php

		-
			message: '#^Method App\\Controllers\\Klassen\:\:saveChoices\(\) has parameter \$klasseId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Controllers/Klassen.php

		-
			message: '#^Method App\\Controllers\\Klassen\:\:select\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Controllers/Klassen.php

		-
			message: '#^Method App\\Controllers\\Klassen\:\:show\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Controllers/Klassen.php

		-
			message: '#^Method App\\Controllers\\Klassen\:\:show\(\) has parameter \$klasseId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Controllers/Klassen.php

		-
			message: '#^Property App\\Controllers\\Klassen\:\:\$choiceModel has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Controllers/Klassen.php

		-
			message: '#^Property App\\Controllers\\Klassen\:\:\$clubModel has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Controllers/Klassen.php

		-
			message: '#^Property App\\Controllers\\Klassen\:\:\$klasseModel has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Controllers/Klassen.php

		-
			message: '#^Property App\\Controllers\\Klassen\:\:\$offerModel has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Controllers/Klassen.php

		-
			message: '#^Property App\\Controllers\\Klassen\:\:\$schuelerModel has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Controllers/Klassen.php

		-
			message: '#^Method App\\Models\\AllocationModel\:\:deleteForSchoolyear\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/AllocationModel.php

		-
			message: '#^Method App\\Models\\AllocationModel\:\:deleteForSchoolyear\(\) has parameter \$schoolyear with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/AllocationModel.php

		-
			message: '#^Method App\\Models\\AllocationModel\:\:getAssigned\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/AllocationModel.php

		-
			message: '#^Method App\\Models\\AllocationModel\:\:getAssigned\(\) has parameter \$schoolyear with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/AllocationModel.php

		-
			message: '#^Method App\\Models\\AllocationModel\:\:getForSchoolyear\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/AllocationModel.php

		-
			message: '#^Method App\\Models\\AllocationModel\:\:getForSchoolyear\(\) has parameter \$schoolyear with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/AllocationModel.php

		-
			message: '#^Method App\\Models\\AllocationModel\:\:getOffer\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/AllocationModel.php

		-
			message: '#^Method App\\Models\\AllocationModel\:\:getOffer\(\) has parameter \$allocationId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/AllocationModel.php

		-
			message: '#^Method App\\Models\\AllocationModel\:\:getRestWaitlist\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/AllocationModel.php

		-
			message: '#^Method App\\Models\\AllocationModel\:\:getRestWaitlist\(\) has parameter \$schoolyear with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/AllocationModel.php

		-
			message: '#^Method App\\Models\\AllocationModel\:\:getStudent\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/AllocationModel.php

		-
			message: '#^Method App\\Models\\AllocationModel\:\:getStudent\(\) has parameter \$allocationId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/AllocationModel.php

		-
			message: '#^Method App\\Models\\ChoiceModel\:\:getForSchoolyear\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/ChoiceModel.php

		-
			message: '#^Method App\\Models\\ChoiceModel\:\:getForSchoolyear\(\) has parameter \$schoolyear with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ChoiceModel.php

		-
			message: '#^Method App\\Models\\ChoiceModel\:\:getOffer\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/ChoiceModel.php

		-
			message: '#^Method App\\Models\\ChoiceModel\:\:getOffer\(\) has parameter \$choiceId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ChoiceModel.php

		-
			message: '#^Method App\\Models\\ChoiceModel\:\:getStudent\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/ChoiceModel.php

		-
			message: '#^Method App\\Models\\ChoiceModel\:\:getStudent\(\) has parameter \$choiceId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ChoiceModel.php

		-
			message: '#^Method App\\Models\\ChoiceModel\:\:saveChoicesForStudent\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/ChoiceModel.php

		-
			message: '#^Method App\\Models\\ChoiceModel\:\:saveChoicesForStudent\(\) has parameter \$choices with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ChoiceModel.php

		-
			message: '#^Method App\\Models\\ChoiceModel\:\:saveChoicesForStudent\(\) has parameter \$createdBy with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ChoiceModel.php

		-
			message: '#^Method App\\Models\\ChoiceModel\:\:saveChoicesForStudent\(\) has parameter \$studentId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ChoiceModel.php

		-
			message: '#^Method App\\Models\\ClubModel\:\:getOffers\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/ClubModel.php

		-
			message: '#^Method App\\Models\\ClubModel\:\:getOffers\(\) has parameter \$clubId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ClubModel.php

		-
			message: '#^Method App\\Models\\ClubModel\:\:hasValidTeilnehmerzahl\(\) has parameter \$clubId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ClubModel.php

		-
			message: '#^Method App\\Models\\ClubModel\:\:hasZweiteLehrkraft\(\) has parameter \$clubId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ClubModel.php

		-
			message: '#^Method App\\Models\\ClubModel\:\:isAllowedForStudent\(\) has parameter \$clubId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ClubModel.php

		-
			message: '#^Method App\\Models\\ClubModel\:\:isAllowedForStudent\(\) has parameter \$studentId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ClubModel.php

		-
			message: '#^Method App\\Models\\ClubModel\:\:isEinzelbetreuung\(\) has parameter \$clubId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ClubModel.php

		-
			message: '#^Method App\\Models\\ClubModel\:\:requiresZweiteLehrkraft\(\) has parameter \$clubId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ClubModel.php

		-
			message: '#^Method App\\Models\\ClubOfferModel\:\:assignedCount\(\) has parameter \$offerId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ClubOfferModel.php

		-
			message: '#^Method App\\Models\\ClubOfferModel\:\:getActiveOffers\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/ClubOfferModel.php

		-
			message: '#^Method App\\Models\\ClubOfferModel\:\:getActiveOffers\(\) has parameter \$schoolyear with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ClubOfferModel.php

		-
			message: '#^Method App\\Models\\ClubOfferModel\:\:getAllocations\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/ClubOfferModel.php

		-
			message: '#^Method App\\Models\\ClubOfferModel\:\:getAllocations\(\) has parameter \$offerId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ClubOfferModel.php

		-
			message: '#^Method App\\Models\\ClubOfferModel\:\:getChoices\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/ClubOfferModel.php

		-
			message: '#^Method App\\Models\\ClubOfferModel\:\:getChoices\(\) has parameter \$offerId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ClubOfferModel.php

		-
			message: '#^Method App\\Models\\ClubOfferModel\:\:getClub\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/ClubOfferModel.php

		-
			message: '#^Method App\\Models\\ClubOfferModel\:\:getClub\(\) has parameter \$offerId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ClubOfferModel.php

		-
			message: '#^Method App\\Models\\ClubOfferModel\:\:getWithClub\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/ClubOfferModel.php

		-
			message: '#^Method App\\Models\\ClubOfferModel\:\:getWithClub\(\) has parameter \$offerId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ClubOfferModel.php

		-
			message: '#^Method App\\Models\\ClubOfferModel\:\:hasSpace\(\) has parameter \$offerId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ClubOfferModel.php

		-
			message: '#^Method App\\Models\\KlasseModel\:\:getSchueler\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/KlasseModel.php

		-
			message: '#^Method App\\Models\\KlasseModel\:\:getSchueler\(\) has parameter \$klasseId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/KlasseModel.php

		-
			message: '#^Method App\\Models\\KlasseModel\:\:getWithSchueler\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/KlasseModel.php

		-
			message: '#^Method App\\Models\\KlasseModel\:\:getWithSchueler\(\) has parameter \$klasseId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/KlasseModel.php

		-
			message: '#^Method App\\Models\\KlasseModel\:\:isChoicesComplete\(\) has parameter \$klasseId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/KlasseModel.php

		-
			message: '#^Method App\\Models\\ManualSwapModel\:\:getForSchoolyear\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/ManualSwapModel.php

		-
			message: '#^Method App\\Models\\ManualSwapModel\:\:getForSchoolyear\(\) has parameter \$schoolyear with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ManualSwapModel.php

		-
			message: '#^Method App\\Models\\ManualSwapModel\:\:performSwap\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/ManualSwapModel.php

		-
			message: '#^Method App\\Models\\ManualSwapModel\:\:performSwap\(\) has parameter \$createdBy with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ManualSwapModel.php

		-
			message: '#^Method App\\Models\\ManualSwapModel\:\:performSwap\(\) has parameter \$offerAId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ManualSwapModel.php

		-
			message: '#^Method App\\Models\\ManualSwapModel\:\:performSwap\(\) has parameter \$offerBId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ManualSwapModel.php

		-
			message: '#^Method App\\Models\\ManualSwapModel\:\:performSwap\(\) has parameter \$studentAId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ManualSwapModel.php

		-
			message: '#^Method App\\Models\\ManualSwapModel\:\:performSwap\(\) has parameter \$studentBId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ManualSwapModel.php

		-
			message: '#^Method App\\Models\\SchuelerModel\:\:getAllocation\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/SchuelerModel.php

		-
			message: '#^Method App\\Models\\SchuelerModel\:\:getAllocation\(\) has parameter \$schuelerId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/SchuelerModel.php

		-
			message: '#^Method App\\Models\\SchuelerModel\:\:getAllocations\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/SchuelerModel.php

		-
			message: '#^Method App\\Models\\SchuelerModel\:\:getAllocations\(\) has parameter \$schuelerId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/SchuelerModel.php

		-
			message: '#^Method App\\Models\\SchuelerModel\:\:getChoices\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/SchuelerModel.php

		-
			message: '#^Method App\\Models\\SchuelerModel\:\:getChoices\(\) has parameter \$schuelerId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/SchuelerModel.php

		-
			message: '#^Method App\\Models\\SchuelerModel\:\:getKlasse\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/SchuelerModel.php

		-
			message: '#^Method App\\Models\\SchuelerModel\:\:getKlasse\(\) has parameter \$schuelerId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/SchuelerModel.php

		-
			message: '#^Method App\\Models\\SchuelerModel\:\:getWithKlasse\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/SchuelerModel.php

		-
			message: '#^Method App\\Models\\SchuelerModel\:\:getWithKlasse\(\) has parameter \$schuelerId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/SchuelerModel.php

		-
			message: '#^Method App\\Models\\UserModel\:\:hashPassword\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/UserModel.php

		-
			message: '#^Method App\\Models\\UserModel\:\:hashPassword\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Models/UserModel.php

		-
			message: '#^Method App\\Models\\UserModel\:\:isCoordinator\(\) has parameter \$userId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/UserModel.php

		-
			message: '#^Method App\\Models\\UserModel\:\:isTeacher\(\) has parameter \$userId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/UserModel.php

		-
			message: '#^Method App\\Services\\AllocationService\:\:checkCapacity\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/AllocationService.php

		-
			message: '#^Method App\\Services\\AllocationService\:\:getStatistics\(\) has parameter \$schoolyear with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Services/AllocationService.php

		-
			message: '#^Method App\\Services\\AllocationService\:\:getStatistics\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/AllocationService.php

		-
			message: '#^Method App\\Services\\AllocationService\:\:performSwap\(\) has parameter \$createdBy with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Services/AllocationService.php

		-
			message: '#^Method App\\Services\\AllocationService\:\:performSwap\(\) has parameter \$offerAId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Services/AllocationService.php

		-
			message: '#^Method App\\Services\\AllocationService\:\:performSwap\(\) has parameter \$offerBId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Services/AllocationService.php

		-
			message: '#^Method App\\Services\\AllocationService\:\:performSwap\(\) has parameter \$studentAId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Services/AllocationService.php

		-
			message: '#^Method App\\Services\\AllocationService\:\:performSwap\(\) has parameter \$studentBId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Services/AllocationService.php

		-
			message: '#^Method App\\Services\\AllocationService\:\:runLottery\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/AllocationService.php

		-
			message: '#^Property App\\Services\\AllocationService\:\:\$allocationModel has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Services/AllocationService.php

		-
			message: '#^Property App\\Services\\AllocationService\:\:\$choiceModel has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Services/AllocationService.php

		-
			message: '#^Property App\\Services\\AllocationService\:\:\$offerModel has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Services/AllocationService.php

		-
			message: '#^Property App\\Services\\AllocationService\:\:\$schuelerModel has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Services/AllocationService.php
