parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method App\\Models\\SchuelerModel\:\:countAll\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Controllers/Admin.php

		-
			message: '#^Call to an undefined method App\\Models\\AllocationModel\:\:getAllocationsForStudents\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Controllers/Allocation.php

		-
			message: '#^Call to an undefined method App\\Models\\AllocationModel\:\:getCurrentAllocations\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Controllers/Allocation.php

		-
			message: '#^Call to an undefined method App\\Models\\AllocationModel\:\:getLatestRun\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Controllers/Allocation.php

		-
			message: '#^Call to an undefined method App\\Models\\AllocationModel\:\:getRecentRuns\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Controllers/Allocation.php

		-
			message: '#^Call to an undefined method App\\Models\\AllocationModel\:\:getRunWithResults\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Controllers/Allocation.php

		-
			message: '#^Call to an undefined method App\\Models\\KlasseModel\:\:getClassesWithIncompleteChoices\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Controllers/Allocation.php

		-
			message: '#^Cannot access offset ''error'' on bool\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Controllers/Allocation.php

		-
			message: '#^Cannot access offset ''success'' on bool\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Controllers/Allocation.php

		-
			message: '#^Method App\\Controllers\\Allocation\:\:performSwap\(\) should return string but returns CodeIgniter\\HTTP\\ResponseInterface\.$#'
			identifier: return.type
			count: 1
			path: app/Controllers/Allocation.php

		-
			message: '#^Method App\\Services\\AllocationService\:\:performSwap\(\) invoked with 2 parameters, 4\-5 required\.$#'
			identifier: arguments.count
			count: 1
			path: app/Controllers/Allocation.php

		-
			message: '#^Method App\\Models\\AllocationModel\:\:deleteForSchoolyear\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/AllocationModel.php

		-
			message: '#^Method App\\Models\\AllocationModel\:\:deleteForSchoolyear\(\) has parameter \$schoolyear with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/AllocationModel.php

		-
			message: '#^Method App\\Models\\AllocationModel\:\:getAssigned\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/AllocationModel.php

		-
			message: '#^Method App\\Models\\AllocationModel\:\:getAssigned\(\) has parameter \$schoolyear with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/AllocationModel.php

		-
			message: '#^Method App\\Models\\AllocationModel\:\:getForSchoolyear\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/AllocationModel.php

		-
			message: '#^Method App\\Models\\AllocationModel\:\:getForSchoolyear\(\) has parameter \$schoolyear with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/AllocationModel.php

		-
			message: '#^Method App\\Models\\AllocationModel\:\:getOffer\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/AllocationModel.php

		-
			message: '#^Method App\\Models\\AllocationModel\:\:getOffer\(\) has parameter \$allocationId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/AllocationModel.php

		-
			message: '#^Method App\\Models\\AllocationModel\:\:getRestWaitlist\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/AllocationModel.php

		-
			message: '#^Method App\\Models\\AllocationModel\:\:getRestWaitlist\(\) has parameter \$schoolyear with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/AllocationModel.php

		-
			message: '#^Method App\\Models\\AllocationModel\:\:getStudent\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/AllocationModel.php

		-
			message: '#^Method App\\Models\\AllocationModel\:\:getStudent\(\) has parameter \$allocationId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/AllocationModel.php

		-
			message: '#^Method App\\Models\\ChoiceModel\:\:getForSchoolyear\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/ChoiceModel.php

		-
			message: '#^Method App\\Models\\ChoiceModel\:\:getForSchoolyear\(\) has parameter \$schoolyear with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ChoiceModel.php

		-
			message: '#^Method App\\Models\\ChoiceModel\:\:getOffer\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/ChoiceModel.php

		-
			message: '#^Method App\\Models\\ChoiceModel\:\:getOffer\(\) has parameter \$choiceId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ChoiceModel.php

		-
			message: '#^Method App\\Models\\ChoiceModel\:\:getStudent\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/ChoiceModel.php

		-
			message: '#^Method App\\Models\\ChoiceModel\:\:getStudent\(\) has parameter \$choiceId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ChoiceModel.php

		-
			message: '#^Method App\\Models\\ChoiceModel\:\:saveChoicesForStudent\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/ChoiceModel.php

		-
			message: '#^Method App\\Models\\ChoiceModel\:\:saveChoicesForStudent\(\) has parameter \$choices with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ChoiceModel.php

		-
			message: '#^Method App\\Models\\ChoiceModel\:\:saveChoicesForStudent\(\) has parameter \$createdBy with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ChoiceModel.php

		-
			message: '#^Method App\\Models\\ChoiceModel\:\:saveChoicesForStudent\(\) has parameter \$studentId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ChoiceModel.php

		-
			message: '#^Method App\\Models\\ClubModel\:\:getOffers\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/ClubModel.php

		-
			message: '#^Method App\\Models\\ClubModel\:\:getOffers\(\) has parameter \$clubId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ClubModel.php

		-
			message: '#^Method App\\Models\\ClubModel\:\:hasValidTeilnehmerzahl\(\) has parameter \$clubId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ClubModel.php

		-
			message: '#^Method App\\Models\\ClubModel\:\:hasZweiteLehrkraft\(\) has parameter \$clubId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ClubModel.php

		-
			message: '#^Method App\\Models\\ClubModel\:\:isAllowedForStudent\(\) has parameter \$clubId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ClubModel.php

		-
			message: '#^Method App\\Models\\ClubModel\:\:isAllowedForStudent\(\) has parameter \$studentId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ClubModel.php

		-
			message: '#^Method App\\Models\\ClubModel\:\:isEinzelbetreuung\(\) has parameter \$clubId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ClubModel.php

		-
			message: '#^Method App\\Models\\ClubModel\:\:requiresZweiteLehrkraft\(\) has parameter \$clubId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ClubModel.php

		-
			message: '#^Method App\\Models\\ClubOfferModel\:\:assignedCount\(\) has parameter \$offerId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ClubOfferModel.php

		-
			message: '#^Method App\\Models\\ClubOfferModel\:\:getActiveOffers\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/ClubOfferModel.php

		-
			message: '#^Method App\\Models\\ClubOfferModel\:\:getActiveOffers\(\) has parameter \$schoolyear with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ClubOfferModel.php

		-
			message: '#^Method App\\Models\\ClubOfferModel\:\:getAllocations\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/ClubOfferModel.php

		-
			message: '#^Method App\\Models\\ClubOfferModel\:\:getAllocations\(\) has parameter \$offerId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ClubOfferModel.php

		-
			message: '#^Method App\\Models\\ClubOfferModel\:\:getChoices\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/ClubOfferModel.php

		-
			message: '#^Method App\\Models\\ClubOfferModel\:\:getChoices\(\) has parameter \$offerId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ClubOfferModel.php

		-
			message: '#^Method App\\Models\\ClubOfferModel\:\:getClub\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/ClubOfferModel.php

		-
			message: '#^Method App\\Models\\ClubOfferModel\:\:getClub\(\) has parameter \$offerId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ClubOfferModel.php

		-
			message: '#^Method App\\Models\\ClubOfferModel\:\:getWithClub\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/ClubOfferModel.php

		-
			message: '#^Method App\\Models\\ClubOfferModel\:\:getWithClub\(\) has parameter \$offerId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ClubOfferModel.php

		-
			message: '#^Method App\\Models\\ClubOfferModel\:\:hasSpace\(\) has parameter \$offerId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ClubOfferModel.php

		-
			message: '#^Method App\\Models\\KlasseModel\:\:getSchueler\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/KlasseModel.php

		-
			message: '#^Method App\\Models\\KlasseModel\:\:getSchueler\(\) has parameter \$klasseId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/KlasseModel.php

		-
			message: '#^Method App\\Models\\KlasseModel\:\:getWithSchueler\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/KlasseModel.php

		-
			message: '#^Method App\\Models\\KlasseModel\:\:getWithSchueler\(\) has parameter \$klasseId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/KlasseModel.php

		-
			message: '#^Method App\\Models\\KlasseModel\:\:isChoicesComplete\(\) has parameter \$klasseId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/KlasseModel.php

		-
			message: '#^Method App\\Models\\ManualSwapModel\:\:getForSchoolyear\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/ManualSwapModel.php

		-
			message: '#^Method App\\Models\\ManualSwapModel\:\:getForSchoolyear\(\) has parameter \$schoolyear with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ManualSwapModel.php

		-
			message: '#^Method App\\Models\\ManualSwapModel\:\:performSwap\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/ManualSwapModel.php

		-
			message: '#^Method App\\Models\\ManualSwapModel\:\:performSwap\(\) has parameter \$createdBy with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ManualSwapModel.php

		-
			message: '#^Method App\\Models\\ManualSwapModel\:\:performSwap\(\) has parameter \$offerAId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ManualSwapModel.php

		-
			message: '#^Method App\\Models\\ManualSwapModel\:\:performSwap\(\) has parameter \$offerBId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ManualSwapModel.php

		-
			message: '#^Method App\\Models\\ManualSwapModel\:\:performSwap\(\) has parameter \$studentAId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ManualSwapModel.php

		-
			message: '#^Method App\\Models\\ManualSwapModel\:\:performSwap\(\) has parameter \$studentBId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/ManualSwapModel.php

		-
			message: '#^Method App\\Models\\SchuelerModel\:\:getAllocation\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/SchuelerModel.php

		-
			message: '#^Method App\\Models\\SchuelerModel\:\:getAllocation\(\) has parameter \$schuelerId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/SchuelerModel.php

		-
			message: '#^Method App\\Models\\SchuelerModel\:\:getAllocations\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/SchuelerModel.php

		-
			message: '#^Method App\\Models\\SchuelerModel\:\:getAllocations\(\) has parameter \$schuelerId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/SchuelerModel.php

		-
			message: '#^Method App\\Models\\SchuelerModel\:\:getChoices\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/SchuelerModel.php

		-
			message: '#^Method App\\Models\\SchuelerModel\:\:getChoices\(\) has parameter \$schuelerId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/SchuelerModel.php

		-
			message: '#^Method App\\Models\\SchuelerModel\:\:getKlasse\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/SchuelerModel.php

		-
			message: '#^Method App\\Models\\SchuelerModel\:\:getKlasse\(\) has parameter \$schuelerId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/SchuelerModel.php

		-
			message: '#^Method App\\Models\\SchuelerModel\:\:getWithKlasse\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/SchuelerModel.php

		-
			message: '#^Method App\\Models\\SchuelerModel\:\:getWithKlasse\(\) has parameter \$schuelerId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/SchuelerModel.php

		-
			message: '#^Method App\\Models\\UserModel\:\:hashPassword\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/UserModel.php

		-
			message: '#^Method App\\Models\\UserModel\:\:hashPassword\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Models/UserModel.php

		-
			message: '#^Method App\\Models\\UserModel\:\:isCoordinator\(\) has parameter \$userId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/UserModel.php

		-
			message: '#^Method App\\Models\\UserModel\:\:isTeacher\(\) has parameter \$userId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/UserModel.php

		-
			message: '#^Call to an undefined method App\\Models\\ChoiceModel\:\:whereNotNull\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Services/AllocationService.php

		-
			message: '#^Call to an undefined method App\\Models\\ClubOfferModel\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Services/AllocationService.php
